mixin videoBlock(video={})
    .videoBlock   
        a(href=routes.videoDetail(video.id))
          video.videoBlock__thumbnail(src=video.videoFile, type="video/mp4",controls=true)
          h4.videoBlock_title=video.title
          h6.videoBlock__views=video.views
    